version: "3.9"

services:
  chroma:
    image: ghcr.io/chroma-core/chroma:latest
    container_name: chroma_server
    ports:
      - "8001:8000"
    environment:
      - CHROMA_DB_IMPL=duckdb+parquet
    volumes:
      - chroma_data:/chroma

  api:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - chroma

volumes:
  chroma_data:
