fastapi==0.110.0
uvicorn[standard]==0.29.0

# Gemini (still required for LLM part)
google-generativeai==0.5.2

qdrant-client==1.9.1

pydantic==2.6.4
pydantic-settings==2.2.1
requests==2.31.0
python-dotenv==1.0.1

voyageai==0.2.2
